*~
target
**/target
/coordinator/build/config.mk
/coordinator/core/build/config.mk
/coordinator/core/build/config.pl
/coordinator/core/tools/bin/
/coordinator/core/tools/lib/
/coordinator/core/tools/man/
/coordinator/core/tools/src/cfdef/src/Conf.bs
/coordinator/core/tools/src/cfdef/src/Conf.c
/coordinator/core/tools/src/cfdef/src/Conf.o
/coordinator/core/tools/src/cfdef/src/Makefile
/coordinator/core/tools/src/cfdef/src/blib/
/coordinator/core/tools/src/cfdef/src/pm_to_blib
/coordinator/core/tools/src/cfdef/src/*.yml
/coordinator/core/tools/src/cfdef/src/bin/cfdefc
/coordinator/core/tools/src/ipctool/src/Makefile
/coordinator/core/tools/src/ipctool/src/blib/
/coordinator/core/tools/src/ipctool/src/pm_to_blib
/coordinator/core/tools/src/ipctool/src/*.yml
/coordinator/core/tools/src/ipctool/src/bin/ipcsdump
/coordinator/core/tools/src/ipctool/src/bin/ipctc
/coordinator/core/tools/src/perl/ant
/coordinator/core/tools/src/perl/depfix
/coordinator/core/tools/src/perl/dirpath
/coordinator/core/tools/src/perl/gencopy
/coordinator/core/tools/src/perl/headexport
/coordinator/core/tools/src/perl/listfile
/coordinator/core/tools/src/perl/mkjavah
/coordinator/core/tools/src/perl/mkjproject
/coordinator/core/tools/src/perl/modtool
/coordinator/core/tools/src/perl/replace
/coordinator/objs/
*.class
**/bin
**/logs
products
repository
workspace
*~
.classpath
.project
.settings
MANIFEST.MF
.idea
*.iml
