[project]
	description = OpenDaylight Virtual Tenant Network
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-vtn-commiters
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/carbon:refs/heads/stable/carbon
