[project]
	description = OpenDaylight Virtual Tenant Network
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-vtn-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
