<?xml version="1.0" encoding="UTF-8"?>

<!--
#
# Copyright (c) 2013-2016 NEC Corporation
# All rights reserved.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v1.0 which accompanies this
# distribution, and is available at http://www.eclipse.org/legal/epl-v10.html
#
-->

<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"yyyy-MM-dd HH:mm:ss.SSS z"} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Suppress informational logs on tests. -->
  <logger name="org.opendaylight.vtn" level="WARN"/>

  <!-- Suppress unwanted logs. -->
  <logger name="org.opendaylight.vtn.manager.internal.VTNConfig"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.VTNThreadPool"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.ContainerConfig"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.config.OperationalListener"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.config.VTNConfigManager"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.inventory.StaticTopologyManager"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.inventory.VTNInventoryManager"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.inventory.xml.XmlStaticSwitchLinks"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.inventory.xml.XmlStaticEdgePorts"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.XmlConfigFile"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.flow.action.FlowActionConverter"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.flow.cond.FlowCondReader"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.flow.cond.VTNFlowCondition"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.flow.filter.VTNRedirectFilter"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.tx.TxSyncFuture"
          level="ERROR"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.tx.TxQueueImpl"
          level="OFF"/>
  <logger name="org.opendaylight.vtn.manager.internal.util.rpc.RpcUtils"
          level="OFF"/>

</configuration>
